body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("default.jpg");
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

h1 {
  color: #fff;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #007acc;
}

#weatherInfo {
  color: white;
  margin-top: 20px;
}

#cityName {
  font-size: 24px;
  margin-bottom: 10px;
}
